@using MRA.Jobs.Application.Contracts.Applications.Responses
@inherits OwningComponentBase

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Title</h5>
        <h6 class="card-subtitle text-muted">Application Status</h6>
    </div>
    <div class="card-body">
        <div id="tasks-backlog" style="min-height:50px;">
            @foreach (var application in Applications)
            {
                <div class="card border-primary">
                    <div class="card-header">
                        <small>Vacancy:</small>
                        @application.VacancyTitle
                    </div>
                    <div class="card-body">
                        <small>Applicant:</small>

                    </div>
                </div>
                <br \>
            }
        </div>

        <div class="d-grid">
        </div>

    </div>
</div>


@code{

    [Parameter]
    public List<ApplicationListStatus> Applications { get; set; }

    [Parameter]
    public string Title { get; set; }

}