@inherits LayoutComponentBase
@inject LayoutService LayoutService

<MudDialogProvider/>
<MudSnackbarProvider/>
<MudMainContent>
    <main id="main" style="min-height: 100vh">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>

    </main>
</MudMainContent>

@code
{

}