@page "/login"
@layout MainLayout
@inject IAuthService AuthService
@inject ISnackbar Snackbar


<MudGrid Justify="Justify.Center" Class="align-items-center">
    <MudItem xs="12" sm="8" md="6" lg="3">
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardHeader>
                    <CardHeaderActions>
                    </CardHeaderActions>
                    <CardHeaderContent>
                        <div class="d-flex flex-grow-1">
                            <div class="flex-none d-flex justify-content-center">
                                <a href="">
                                    <MudImage Src="/images/srp_icon.png" Height="45" /><br />
                                </a>
                            </div>
                            <div class="flex-initial d-flex py-1">
                                <MudText Typo="Typo.h4">
                                    <strong>Sign In</strong>
                                </MudText>
                            </div>
                        </div>
                        <MudText>
                            Don't have an account? <MudLink Href="sign-up"> Sign Up</MudLink>
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="Username"
                                  @bind-Value="_model.Username" For="@(() => _model.Username)" />

                    <MudTextField Label="Password"
                                  @bind-Value="_model.Password" For="@(() => _model.Password)" InputType="InputType.Password" />
                    <br />
                    <MudText>
                        Forgot your password? <MudLink href="/resetPassword">Reset Password</MudLink>
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth="true">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else
                        {
                            <MudText>Sign In</MudText>
                        }
                    </MudButton>
                </MudCardActions>
                @*                 <div style="padding:5px">
                <div style="text-align: center;">
                <ExternalLoginCard Title="Continue With"/>

                </div> <br/>
                </div> *@
            </MudCard>

        </EditForm>

    </MudItem>
</MudGrid>


@code {
    private readonly LoginForm _model = new();
    private bool _processing;

    public class LoginForm
    {
        [Required]
        public string Username { get; set; }

        [Required]
        [StringLength(30, ErrorMessage = "Password must be at least 8 characters long.", MinimumLength = 8)]
        public string Password { get; set; }
    }

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        _processing = true;
        StateHasChanged();
        var loginMessage = await AuthService.LoginUserAsync(new LoginUserCommand
            {
                Username = _model.Username,
                Password = _model.Password
            });
        if (loginMessage != "" || loginMessage != null)
            Snackbar.Add(loginMessage, MudBlazor.Severity.Error);
        _processing = false;
        StateHasChanged();
    }

}