<div class="d-flex flex-grow-1">
    <div class="flex-none d-flex justify-content-center">
        <a href="">
            <MudImage Src="/images/srp_icon.png" Height="45"/><br/>
        </a>
    </div>
    <div class="flex-initial d-flex py-1">
        <MudText Typo="Typo.h4">
            <strong>@ContentService["SignUp:LabelSignUp"]</strong>
        </MudText>
    </div>
</div>