aside {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.list-group-item {
    background-color: white;
    border: none;
}

    .list-group-item:hover {
        background-color: #e9ecef;
    }

    .list-group-item.active {
        background-color: #007bff;
        color: #fff;
    }


.selectedbtn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    width: 100%;
    display: flex;
    border-style: hidden;
    height: 45px;
    text-align: center;
}

.categorybtn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: inherit;
    width: 100%;
    display: flex;
    border-style: hidden;
    height: 45px;
    text-align: center;
}

    .categorybtn:hover {
        background-color: lightgray;
    }
