@using MRA.Jobs.Application.Contracts.TrainingVacancies.Responses;
@using Services.TrainingServices;
@inject ITrainingService _trainingService;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacancy Card</title>
</head>
<body>
    @if (Categories != null)
    {
        @foreach (var category in Categories)
        {
            foreach (var training in category.Trainings)
            {
                <div class="vacancy-card" style="margin-bottom:20px">
                    <div class="vacancy-card-header">
                        <a href="/trainings/@training.Slug" class="vacancy-title">
                            @training.Title
                        </a>
                    </div>
                    <div class="vacancy-description">
                        <p>
                            @training.ShortDescription
                        </p>
                    </div>
                </div>
            }
        }
    }
</body>


@code {
    [Parameter]
    public List<TrainingVacancyWithCategoryDto> Categories { get; set; }
}
