@using MRA.Jobs.Client.Pages.Trainings.Components;
@page "/trainings"
@page "/trainings/{searchInput}"

<div style="margin-bottom:20px">
    <Header />
</div>
<SearchInput />
@if (SearchInput is null)
{
    <CategoriesComponent />
}
else
{
    <CategoriesComponent searchInput="@SearchInput" />
}

@code {
    [Parameter]
    public string SearchInput { get; set; }
}
