
<header class="header bg-light">
	<div class="container">
		<div class="w-100 row flex-row p-3">
			<div class="col-2">
				<a class="" href="#">
					<img class="logo" src="./images/SRP_icon.png" alt="">
					<span class="logo-text">
						SILK ROAD<br><small>PROFESSIONALS</small>
					</span>
				</a>
			</div>
			<!-- Menu -->
			<div class="col-7 d-flex mx-3">
				<div class="w-100 d-flex flex-row justify-content-between align-items-center">
					<div class="col">
						<a href="">Home</a>
					</div>
					<div class="col">
						<a href="jobs">Jobs</a>
					</div>
					<div class="col">
						<a href="internship">Internships</a>
					</div>
					<div class="col">
						<a href="training">Trainings</a>
					</div>
				</div>
			</div>
			<!-- End Menu -->
			<!-- Reg/Login -->
			@*<div class="col-3 d-flex">
			<div class="row flex-row w-100 justify-content-between align-items-center">
			<div class="col-6">
			<a href="">Registration</a>
			</div>
			<div class="col-6">
			<a href="login">Login</a>
			</div>
			</div>
			</div>*@
		</div>
	</div>
</header>



@code {

}
