@inject AuthenticationStateProvider AuthenticationStateProvider

<header class="header bg-dark bg-opacity-75">
	<div class="container">
		<div class="w-100 row flex-row p-3">
			<div class="col-3">
				<a class="" href="#">
					<img class="logo" src="./images/bluewhite.png" alt="" />
				</a>
			</div>
			<!-- Menu -->
			<div class="col-7 d-flex mx-3">
				<div class="w-100 d-flex flex-row justify-content-between align-items-center">
					<div class="col">
						<a href="home">Home</a>
					</div>
					<div class="col">
						<a href="jobs">Jobs</a>
					</div>
					<div class="col">
						<a href="internship">Internships</a>
					</div>
					<div class="col">
						<a href="trainings">Trainings</a>
					</div>
					<nav class="ml-auto">
						<ul>
							<li>
								<a href="/">
									<i class="fas fa-user"></i>
								</a>
								<ul>
									<CascadingAuthenticationState>
										<AuthorizeView>
											<Authorized>
												<li><a href="/ApplicantPage">Profile</a></li>
												<li><a href="">Application</a></li>
											</Authorized>
											<NotAuthorized>
												<a href="">Registration</a>
												<a href="login">Login</a>
											</NotAuthorized>
										</AuthorizeView>
									</CascadingAuthenticationState>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- End Menu -->
			<div class="col">
			</div>
		</div>
	</div>
</header>





@code {

}
