
<header class="header bg-light">
    <div class="container">
        <div class="w-100 row flex-row p-3">
            
            <div class="col-1">
                <a class="" href="#">
                    <img class="logo" src="./images/SRP_icon.png" alt="">
                </a>
            </div>
            <!-- Menu -->
            <div class="col-8">
                
            </div>
            
            <!-- Reg/Login -->
            <div class="col-3 d-flex">
                <div class="row flex-row w-100 justify-content-between align-items-center">
                    <div class="col-6">
                        <a href="">Registration</a>
                    </div>
                    <div class="col-6">
                        <a href="">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



@code {
    
}