@inject AuthenticationStateProvider AuthenticationStateProvider

@*<div class="page_header_wrapper ds ms affix-wrapper" style="height: 94px;">

	<header class="page_header without-dots justify-nav-center ds ms affix">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-xl-3 col-md-7 col-10">
					<a href="https://www.silkroadprofessionals.com/" rel="home" class="logo logo_image_and_text">
						<img class="logo-color" src="//www.silkroadprofessionals.com/wp-content/uploads/2021/07/Preloader.png" alt="SILK ROAD<br><small>PROFESSIONALS</small>">
						<span class="logo-text">
							SILK ROAD<br><small>PROFESSIONALS</small>
						</span>
					</a>
				</div>
				<div class="col-xl-9 col-1 flex-menu">
					<!-- main nav start -->
					<nav class="top-nav" style="">
						<ul id="menu-main_menu" class="sf-menu nav sf-js-enabled sf-arrows" style="touch-action: pan-y;">
							<li id="menu-item-1750" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1750 active"><a href="http://www.silkroadprofessionals.com/">Home</a></li>
							<li id="menu-item-1800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1800"><a href="https://www.silkroadprofessionals.com/about/">About Us</a></li>
							<li id="menu-item-1426" class="menu-item menu-item-type-taxonomy menu-item-object-fw-team-category menu-item-1426"><a href="jobs">Jobs</a></li>
							<li id="menu-item-3725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3725"><a href="internships">Internships</a></li>
							<li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a href="trainings">Trainings</a></li>

						</ul>
					</nav>
					<a href="#" class="search_modal_button text-right flex-grow-2 hidden-below-xl">
						<nav class="ml-auto">
							<ul>
								<li>

									<i class="fas fa-user"></i>

									<ul>
										<CascadingAuthenticationState>
											<AuthorizeView>
												<Authorized>
													<li><a href="/ApplicantPage">Profile</a></li>
													<li><a href="">Application</a></li>
												</Authorized>
												<NotAuthorized>
													<a href="">Registration</a>
													<a href="login">Login</a>
												</NotAuthorized>
											</AuthorizeView>
										</CascadingAuthenticationState>
									</ul>
								</li>
							</ul>
						</nav>
					</a>
				</div>
			</div>
		</div>
		<!-- header toggler -->
		<span class="toggle_menu"><span></span></span>
	</header>
</div>*@

<nav class="navbar navbar-expand-lg bg-body-tertiary  bg-dark" data-bs-theme="dark">
	<div class="container-fluid">
		<a href="https://www.silkroadprofessionals.com/" rel="home" class="logo logo_image_and_text">
			@*<img class="logo-color" src="//www.silkroadprofessionals.com/wp-content/uploads/2021/07/Preloader.png" alt="SILK ROAD<br><small>PROFESSIONALS</small>">
			<span class="logo-text">
			SILK ROAD<br><small>PROFESSIONALS</small>
			</span>*@
			<img src="./images/bluewhite.png" class="img-fluid" style="width:150%" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.silkroadprofessionals.com/about/">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Jobs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="internships">Internships</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="trainings">Trainings</a>
				</li>
			</ul>
			<span class="navbar-text">
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-user"></i>
					</a>
					<ul class="dropdown-menu">
						<CascadingAuthenticationState>
							<AuthorizeView>
								<Authorized>
									<li><a href="/ApplicantPage">Profile</a></li>
									<li><a href="">Application</a></li>
								</Authorized>
								<NotAuthorized>
									<li><a href="">Registration</a></li>
									<li><a href="login">Login</a></li>
								</NotAuthorized>
							</AuthorizeView>
						</CascadingAuthenticationState>
					</ul>
				</div>
			</span>
		</div>
	</div>
</nav>



@code {

}
