body {
    margin: 0;

    font-family: Arial, sans-serif;

}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}


    background-color: #0dcaf0;
    height: 90px;
    justify-content: center; 
    margin-bottom: 15px;
}

.shapka {
    color: white;
    font-size: xx-large;
}

.container {
    justify-content: center;
    font-size: larger;
}

.form-horizontal {
    justify-content: center;
}

 {
    padding: 50px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}

h1, h2 {
    margin: 0;
}

p {
    line-height: 1.5;
}


.form-group {
    margin-bottom: 25px;
}

