@page "/home"
@layout Main

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="./images/iamge1.jpg" class="d-block w-100 image1" alt="...">

			<div class="carousel-caption d-none d-md-block">
				<h1 class="class1">WE ARE HERE<br />TO HELP YOU!</h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<br />
	<br />

	<div class="row">

		<div class="col-8">
			<h1 class=""><b>WHO WE ARE</b></h1>
			<br />
			<br />
			<h4>
				Teams of software engineers in Central Asia who add value to clients by building strong trust,
				communication well, and delivering quality results.
			</h4>
		</div>
		<div class="col-3">
			<img src="./images/aa.png" class="img-fluid" />
		</div>
	</div>

	<div class="row">
		<div class="col">
			<img src="./images/students-min.png" class="img-fluid" />
		</div>
		<div class="col">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<h1><b>Join Us</b></h1>
			<h4>Passionate about what you do?</h4>
		</div>
	</div>


	<div style="align-content:center; text-align:center" class="div-gradient">
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col">
				With endless experiences to explore, you will find challenging and rewarding career opportunities. Explore our latest job openings for an opportunity to join us.
				<br />
				<br />
				<a href="jobs" class="btn btn-primary">See The Vacancies </a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col">
				Silk Road Professionals is inviting students in courses 3-4 as well as graduates for a 3-month paid internship!<br />
				If you want to start your career in the IT field and gain invaluable experience in a dynamic team, don't miss your chance!
				<br />
				<br />
				<a href="internships" class="btn btn-primary">Apply to Internship </a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col">
				Silk Road Professionals is inviting students in courses 3-4 as well as graduates for a 3-month paid internship!<br />
				If you want to start your career in the IT field and gain invaluable experience in a dynamic team, don't miss your chance!
				<br />
				<br />
				<a href="trainings" class="btn btn-primary">Apply to Trainings </a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>


</div>

@code {

}
