@page "/home"
@layout Main

@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="./images/iamge1.jpg" class="d-block w-100 image1" alt="...">

			<div class="carousel-caption d-none d-md-block">
				<h1 class="class1">WE ARE HERE<br />TO HELP YOU!</h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<br />
	<br />

	<div class="row">

		<div class="col-8">
			<h1 class=""><b>WHO WE ARE</b></h1>
			<br />
			<br />
			<h4>
				Teams of software engineers in Central Asia who add value to clients by building strong trust,
				communication well, and delivering quality results.
			</h4>
		</div>
		<div class="col-3">
			<img src="./images/aa.png" class="img-fluid" />
		</div>
	</div>

	<div class="row">
		<div class="col">
			<img src="./images/students-min.png" class="img-fluid" />
		</div>
		<div class="col">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<h1><b>Join Us</b></h1>
			<h4>Passionate about what you do?</h4>
		</div>
	</div>


	<div style="align-content:center; text-align:center" class="div-gradient">
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col">
				With endless experiences to explore, you will find challenging and rewarding career opportunities. Explore our latest job openings for an opportunity to join us.
				<br />
				<br />
				<a href="jobs" class="btn btn-primary">See The Vacancies </a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col">
				Silk Road Professionals is inviting students in courses 3-4 as well as graduates for a 3-month paid internship!<br />
				If you want to start your career in the IT field and gain invaluable experience in a dynamic team, don't miss your chance!
				<br />
				<br />
				<a href="internships" class="btn btn-primary">Apply to Internship </a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col">
				Silk Road Professionals is inviting students in courses 3-4 as well as graduates for a 3-month paid internship!<br />
				If you want to start your career in the IT field and gain invaluable experience in a dynamic team, don't miss your chance!
				<br />
				<br />
				<a href="trainings" class="btn btn-primary">Apply to Trainings </a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>

</div>*@

<div class="fw-page-builder-content">
	<section class=" container-px-0 ds      s-pt-0 s-pb-0" id="section-6bfe245">

		<h6 class="d-none">Slider</h6>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-12 ">


					<!-- START Main Slider Min REVOLUTION SLIDER 6.2.23 -->


					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">

								<img src="./wp-content/uploads/2022/03/slider1-min.jpeg" />
								<div class="carousel-caption d-none d-md-block" style="left: 0;">
									<h1>WE ARE HERE</h1>
									<h2>TO HELP YOU!</h2>
									<h6>WE DEVELOP SOFTWARE AND PROVIDE OUTSOURCE PROGRAMMING SUPPORT. </h6>
								</div>
							</div>
						</div>
					</div>

					<!-- END REVOLUTION SLIDER -->

				</div><!-- .col-* -->
			</div>

		</div>
	</section>

	<section class="  overflow-visible  ls      s-pt-55 s-pb-55     s-pt-lg-50 s-pb-lg-100 s-pt-xl-100 s-pb-xl-145" id="section-24ca95c">

		<h6 class="d-none">Steps</h6>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xs-12 col-12 ">

					<h4 class="special-heading text-center text-md-center ">

						<span class="d-inline-block font-weight-medium    border-left pt-2">
							<mark>How </mark>We Work
						</span>
					</h4>
					<div class="fw-divider-space divider-0 divider-lg-70"></div>

					<div class="steps ">

						<div class="icon-box text-center  text-lg-center">
							<div class="media-image">
								<img src="wp-content/uploads/2022/03/planning-min-400x400.png" alt="step image">
							</div>
							<h5 class="mb-0   text-center">
								Planning
							</h5>
						</div>

						<div class="icon-box text-center  text-lg-center">
							<div class="media-image">
								<img src="wp-content/uploads/2022/03/design-min-400x400.png" alt="step image">
							</div>
							<h5 class="mb-0   text-center">
								Design
							</h5>
						</div>

						<div class="icon-box text-center  text-lg-center">
							<div class="media-image">
								<img src="wp-content/uploads/2022/03/develop-min-400x400.png" alt="step image">
							</div>
							<h5 class="mb-0   text-center">
								Development
							</h5>
						</div>
					</div>
				</div><!-- .col-* -->
			</div>

		</div>
	</section>

	<section class="  ds ms      s-pt-60 s-pb-55     s-pt-lg-100 s-pb-lg-100 s-pt-xl-145 s-pb-xl-145" id="section-f84dbd8">

		<h6 class="d-none">Services</h6>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-12 ">

					<h4 class="special-heading text-center text-md-center ">

						<span class="d-inline-block font-weight-medium    border-left pt-2">
							<mark>What </mark>We Do
						</span>
					</h4>
					<div class="fw-divider-space divider-0 divider-lg-70"></div>

					<div class="service-isotope isotope row masonry-layout c-gutter-30 c-mb-60 mb--60">
						<div class="isotope-item col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
							<div class="media  text-center text-lg-center">
								<div class="icon-styled fs-40 links-maincolor">
									<a href="index.html@p=563.html">
										<i class="ico ico-worldwide"></i>
									</a>
								</div>
								<div class="media-body">
									<h5>
										<a href="index.html@p=563.html">
											Web Development
										</a>
									</h5>
									<div>
										<p>We develop websites and enterprise web applications.</p>
									</div>
								</div>
							</div><!-- eof .teaser -->

						</div>
						<div class="isotope-item col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
							<div class="media  text-center text-lg-center">
								<div class="icon-styled fs-40 links-maincolor">
									<a href="index.html@p=3028.html">
										<i class="ico ico-smartphone"></i>
									</a>
								</div>
								<div class="media-body">
									<h5>
										<a href="index.html@p=3028.html">
											Mobile Development
										</a>
									</h5>
									<div>
										<p>We build a native and cross platform mobile applications.</p>
									</div>
								</div>
							</div><!-- eof .teaser -->

						</div>
						<div class="isotope-item col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
							<div class="media  text-center text-lg-center">
								<div class="icon-styled fs-40 links-maincolor">
									<a href="index.html@p=3027.html">
										<i class="ico ico-monitor"></i>
									</a>
								</div>
								<div class="media-body">
									<h5>
										<a href="index.html@p=3027.html">
											Desktop Applications
										</a>
									</h5>
									<div>
										<p>We build applications for an OS of your need.</p>
									</div>
								</div>
							</div><!-- eof .teaser -->

						</div>
						<div class="isotope-item col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
							<div class="media  text-center text-lg-center">
								<div class="icon-styled fs-40 links-maincolor">
									<a href="index.html@p=572.html">
										<i class="flaticon flaticon-031-cloud-1"></i>
									</a>
								</div>
								<div class="media-body">
									<h5>
										<a href="index.html@p=572.html">
											Cloud Native Development
										</a>
									</h5>
									<div>
										<p>We build and run scalable applications with cloud computing.</p>
									</div>
								</div>
							</div><!-- eof .teaser -->

						</div>
					</div><!-- eof .isotope-wrapper -->

				</div><!-- .col-* -->
			</div>

		</div>
	</section>

	<section class="  ls     s-pt-0 s-pb-0     s-pt-lg-0 s-pb-lg-0 s-pt-xl-150 s-pb-xl-145      s-parallax cover-background s-overlay s-overlay mobile-overlay" id="section-ccb8956" style="background-image:url(wp-content/uploads/2021/09/Team-2.jpg);">

		<h6 class="d-none">Team</h6>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-12 text-center text-sm-center text-md-center text-lg-center text-xl-center ">

					<div class="  s-overlay  ">
						<div class="fw-divider-space divider-lg-120"></div>
						<h4 class="special-heading text-center text-md-center ">

							<span class="d-inline-block color-darkgrey font-weight-medium    border-left pt-2">
								<mark>Meet</mark>Our Team
							</span>
						</h4>
						<div class="fw-divider-space divider-30 divider-lg-70"></div>
						<a href="team/team/index.html" target="_self" class="btn btn-maincolor   ">
							<span>View Team</span>
						</a>
					</div>

				</div><!-- .col-* -->
				<div class="col-xs-12 col-12 col-lg-9 ">

					<div class="fw-divider-space divider-50 divider-lg-0"></div>

				</div><!-- .col-* -->
			</div>

		</div>
	</section>

	<section class="  ls ms     s-pt-55 s-pb-55     s-pt-lg-100 s-pb-lg-100 s-pt-xl-150 s-pb-xl-145      s-parallax cover-background s-overlay s-overlay mobile-overlay" id="section-d25d057" style="background-image:url(wp-content/uploads/2022/03/bg-min.jpeg);">

		<h6 class="d-none">Main Principles Which make our team strong</h6>
		<div class="container">
			<div class="row">
				<h4 class="special-heading text-center text-md-left custom-full-width">

					<span class="d-inline-block color-dark font-weight-regular    border-left">
						Main principles
					</span>
				</h4>
				<h4 class="special-heading text-center text-md-left ">

					<span class="d-inline-block color-main font-weight-regular    border-left">
						Which make our team strong
					</span>
				</h4>
				<div class="fw-divider-space divider-40 divider-lg-95"></div>
				<div class="col-xs-12 col-12 col-lg-6 ">

					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-main thin  special">
							<span>1</span>
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 10px;"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-dark fw-400">
							Agile
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 25px;"></div>
					<p class=" text-center text-md-left ">

						<span class="d-inline-block color-font">
							Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.
						</span>
					</p>
					<div class="fw-divider-space divider-40 divider-lg-60"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-main thin  special">
							<span>2</span>
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 10px;"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-dark fw-400">
							Code Quality
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 25px;"></div>
					<p class=" text-center text-md-left ">

						<span class="d-inline-block color-font">
							We do our best to write Descriptive Maintainable Economical Testable code.
						</span>
					</p>
					<div class="fw-divider-space divider-40 divider-lg-60"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-main thin  special">
							<span>3</span>
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 10px;"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-dark fw-400">
							Continual Learning
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 25px;"></div>
					<p class=" text-center text-md-left ">

						<span class="d-inline-block color-font">
							We are committed to keeping our skills and knowledge up to date so, that we can meet the requirements of our clients.
						</span>
					</p>

				</div><!-- .col-* -->
				<div class="col-xs-12 col-12 col-lg-6 ">

					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-main thin  special">
							<span>4</span>
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 10px;"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-dark fw-400">
							Intrinsic Control
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 25px;"></div>
					<p class=" text-center text-md-left ">

						<span class="d-inline-block color-font">
							We encourage our programmers to be self-motivated towards improving their own skills and producing quality work.
						</span>
					</p>
					<div class="fw-divider-space divider-40 divider-lg-60"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-main thin  special">
							<span>5</span>
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 10px;"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-dark fw-400">
							Glorify God
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 25px;"></div>
					<p class=" text-center text-md-left ">

						<span class="d-inline-block color-font">
							We want everything we do to bring glory to God.
						</span>
					</p>
					<div class="fw-divider-space divider-40 divider-lg-60"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-main thin  special">
							<span>6</span>
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 10px;"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-darkgrey fw-400">
							Productivity
						</span>
					</h6>

					<div class="fw-divider-space " style="margin-top: 25px;"></div>
					<p class=" text-center text-md-left ">

						<span class="d-inline-block color-font">
							We are committed to providing the tools and environment that our programmers need to reach maximum productivity.
						</span>
					</p>

				</div><!-- .col-* -->
			</div>

		</div>
	</section>

	<section class="  ls ms      s-pt-50 s-pb-55     s-pt-lg-100 s-pb-lg-100 s-pt-xl-150 s-pb-xl-145" id="section-0ee43a7">

		<h6 class="d-none">Testimonials</h6>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-12 ">

					<h4 class="special-heading text-center text-md-center ">

						<span class="d-inline-block font-weight-medium    border-left pt-2">
							<mark>Client </mark>And Partner Testimonials
						</span>
					</h4>
					<div class="fw-divider-space divider-30 divider-lg-70"></div>

					<div class="quote-carousel quote-carousel-hidden owl-carousel testimonials-owl-dots owl-loaded owl-drag owl-theme owl-center" data-autoplay="true" data-loop="true" data-margin="60" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="1" data-nav="false" data-dots="false" data-center="true">




						<div class="owl-stage-outer">
							<div class="owl-stage" style="transition: all 0.25s ease 0s; width: 3990px; transform: translate3d(-1710px, 0px, 0px);">
								<div class="owl-item cloned" style="width: 510px; margin-right: 60px;">
									<div class="row" data-index="1">
										<div class="col-12">
											<div class="quote-item quote-layout-11">
												<div class="quote-image">
													<img src="wp-content/uploads/2021/08/ParagonLogo.jpg" alt="Anthony Martin ">
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item cloned" style="width: 510px; margin-right: 60px;">
									<div class="row" data-index="2">
										<div class="col-12">
											<div class="quote-item quote-layout-11">
												<div class="quote-image">
													<img src="wp-content/uploads/2021/08/PestScanLogo.jpg" alt="Jan Smits">
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item" style="width: 510px; margin-right: 60px;">
									<div class="row" data-index="0">
										<div class="col-12">
											<div class="quote-item quote-layout-11">
												<div class="quote-image">
													<img src="wp-content/uploads/2023/02/Koblelogo-1.jpg" alt="Glenn Esh ">
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item active center" style="width: 510px; margin-right: 60px;">
									<div class="row" data-index="1">
										<div class="col-12">
											<div class="quote-item quote-layout-11">
												<div class="quote-image">
													<img src="wp-content/uploads/2021/08/ParagonLogo.jpg" alt="Anthony Martin ">
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item" style="width: 510px; margin-right: 60px;">
									<div class="row" data-index="2">
										<div class="col-12">
											<div class="quote-item quote-layout-11">
												<div class="quote-image">
													<img src="wp-content/uploads/2021/08/PestScanLogo.jpg" alt="Jan Smits">
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item cloned" style="width: 510px; margin-right: 60px;">
									<div class="row" data-index="0">
										<div class="col-12">
											<div class="quote-item quote-layout-11">
												<div class="quote-image">
													<img src="wp-content/uploads/2023/02/Koblelogo-1.jpg" alt="Glenn Esh ">
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item cloned" style="width: 510px; margin-right: 60px;">
									<div class="row" data-index="1">
										<div class="col-12">
											<div class="quote-item quote-layout-11">
												<div class="quote-image">
													<img src="wp-content/uploads/2021/08/ParagonLogo.jpg" alt="Anthony Martin ">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-chevron-left"></i></div><div class="owl-next"><i class="fa fa-chevron-right"></i></div></div><div class="owl-dots disabled"></div>
					</div>

					<div class="quote-carousel quote-layout-11-centered quote-carousel-hidden owl-carousel testimonials-owl-content arrow-6 owl-loaded owl-drag owl-theme" data-autoplay="true" data-loop="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="tru" data-dots="false">




						<div class="owl-stage-outer">
							<div class="owl-stage" style="transform: translate3d(-1620px, 0px, 0px); transition: all 0.25s ease 0s; width: 3780px;">
								<div class="owl-item cloned" style="width: 510px; margin-right: 30px;">
									<div class="row" data-index="1">
										<div class="col-lg-8 offset-lg-2">
											<div class="quote-item quote-layout-11">

												<blockquote>
													<p>
														<em>
															“We have found the Silk Road team to be very knowledgeable and capable of delivering high quality software that adheres to our specifications and the latest industry standards”
														</em>
													</p>
												</blockquote>

												<div class="quote-title">
													<h5 class="mb-1 fw-600">
														Anthony Martin
													</h5>
													<p class="mb-0 text-uppercase letter-sp-big">
														Manager / Product Development
													</p>
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item cloned" style="width: 510px; margin-right: 30px;">
									<div class="row" data-index="2">
										<div class="col-lg-8 offset-lg-2">
											<div class="quote-item quote-layout-11">

												<blockquote>
													<p>
														<em>
															"Since 2020 we have been working with Silk Road Professionals. I am very happy we got to know them and that we decided to work together. Their efforts have boosted our development and consequently enabled us to faster gain a market share in our field of Pest Control Software. What I like about SRP is the short communication lines, their productive feedback on what we try to establish and their positive, cooperative attitude. I just love their core values and I see how they drive their day-to-day work."
														</em>
													</p>
												</blockquote>

												<div class="quote-title">
													<h5 class="mb-1 fw-600">
														Jan Smits
													</h5>
													<p class="mb-0 text-uppercase letter-sp-big">
														Founder of PestScan
													</p>
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item" style="width: 510px; margin-right: 30px;">
									<div class="row" data-index="0">
										<div class="col-lg-8 offset-lg-2">
											<div class="quote-item quote-layout-11">

												<blockquote>
													<p>
														<em>
															“Silk Road Professionals has been a valued partner since 2014. We are working on a very large business management software project. It is important to us to have long term programmers that are able to communicate well, be innovative, and produce quality software for our 8,000+ users. They have done an excellent job onboarding and keeping quality programmers. We could not have accomplished this multi-year project without them”
														</em>
													</p>
												</blockquote>

												<div class="quote-title">
													<h5 class="mb-1 fw-600">
														Glenn Esh
													</h5>
													<p class="mb-0 text-uppercase letter-sp-big">
														CTO &amp; Product Manager
													</p>
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item active" style="width: 510px; margin-right: 30px;">
									<div class="row" data-index="1">
										<div class="col-lg-8 offset-lg-2">
											<div class="quote-item quote-layout-11">

												<blockquote>
													<p>
														<em>
															“We have found the Silk Road team to be very knowledgeable and capable of delivering high quality software that adheres to our specifications and the latest industry standards”
														</em>
													</p>
												</blockquote>

												<div class="quote-title">
													<h5 class="mb-1 fw-600">
														Anthony Martin
													</h5>
													<p class="mb-0 text-uppercase letter-sp-big">
														Manager / Product Development
													</p>
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item" style="width: 510px; margin-right: 30px;">
									<div class="row" data-index="2">
										<div class="col-lg-8 offset-lg-2">
											<div class="quote-item quote-layout-11">

												<blockquote>
													<p>
														<em>
															"Since 2020 we have been working with Silk Road Professionals. I am very happy we got to know them and that we decided to work together. Their efforts have boosted our development and consequently enabled us to faster gain a market share in our field of Pest Control Software. What I like about SRP is the short communication lines, their productive feedback on what we try to establish and their positive, cooperative attitude. I just love their core values and I see how they drive their day-to-day work."
														</em>
													</p>
												</blockquote>

												<div class="quote-title">
													<h5 class="mb-1 fw-600">
														Jan Smits
													</h5>
													<p class="mb-0 text-uppercase letter-sp-big">
														Founder of PestScan
													</p>
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item cloned" style="width: 510px; margin-right: 30px;">
									<div class="row" data-index="0">
										<div class="col-lg-8 offset-lg-2">
											<div class="quote-item quote-layout-11">

												<blockquote>
													<p>
														<em>
															“Silk Road Professionals has been a valued partner since 2014. We are working on a very large business management software project. It is important to us to have long term programmers that are able to communicate well, be innovative, and produce quality software for our 8,000+ users. They have done an excellent job onboarding and keeping quality programmers. We could not have accomplished this multi-year project without them”
														</em>
													</p>
												</blockquote>

												<div class="quote-title">
													<h5 class="mb-1 fw-600">
														Glenn Esh
													</h5>
													<p class="mb-0 text-uppercase letter-sp-big">
														CTO &amp; Product Manager
													</p>
												</div>
											</div>
										</div>
									</div>
								</div><div class="owl-item cloned" style="width: 510px; margin-right: 30px;">
									<div class="row" data-index="1">
										<div class="col-lg-8 offset-lg-2">
											<div class="quote-item quote-layout-11">

												<blockquote>
													<p>
														<em>
															“We have found the Silk Road team to be very knowledgeable and capable of delivering high quality software that adheres to our specifications and the latest industry standards”
														</em>
													</p>
												</blockquote>

												<div class="quote-title">
													<h5 class="mb-1 fw-600">
														Anthony Martin
													</h5>
													<p class="mb-0 text-uppercase letter-sp-big">
														Manager / Product Development
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-chevron-left"></i></div><div class="owl-next"><i class="fa fa-chevron-right"></i></div></div><div class="owl-dots disabled"></div>
					</div>

				</div><!-- .col-* -->
			</div>

		</div>
	</section>

	<section class="  overflow-visible  ds ms      s-pt-55 s-pb-55   s-pt-md-90 s-pb-md-90 s-pt-lg-0 s-pb-lg-0" id="section-201256e">

		<h6 class="d-none">section-201256e</h6>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-12 col-lg-6 ">

					<img class="position-absolute absolute-img hidden-xs hidden-sm hidden-md left bottom" src="wp-content/uploads/2022/03/students-min.png" alt="">

				</div><!-- .col-* -->
				<div class="col-xs-12 col-12 col-lg-6 text-center text-sm-left text-md-left ">

					<div class="fw-divider-space divider-lg-40 divider-xl-40"></div>
					<h2 class="special-heading text-center text-md-left ">

						<span class="d-inline-block bold">
							Join Us
						</span>
					</h2>
					<h5 class="special-heading text-center text-md-left ">

						<span class="d-inline-block color-main thin">
							Passionate about what you do?
						</span>
					</h5>
					<div class="fw-divider-space divider-20"></div>
					<h6 class="special-heading text-center text-md-left ">

						<span class="d-inline-block thin">
							With endless experiences to explore, you will find challenging and rewarding career opportunities. Explore our latest job openings for an opportunity to join us.
						</span>
					</h6>
					<div class="fw-divider-space divider-50 divider-lg-70"></div>
					<a href="jobs" target="_self" class="btn btn-maincolor   ">
						<span>See The Jobs</span>
					</a>
					<a href="internships" target="_self" class="btn btn-maincolor   ">
						<span>See The Internships</span>
					</a>
					<a href="trainings" target="_self" class="btn btn-maincolor   ">
						<span>See The Trainings</span>
					</a>
					<div class="fw-divider-space divider-lg-40 divider-xl-40"></div>

				</div><!-- .col-* -->
			</div>

		</div>
	</section>
</div>

@code {

}
