@page "/Login"
@layout Main

<div class="container">
    <div class="form col-6 p-4 mx-auto rounded">
        <div class="d-flex flex-column">
            
            <div class="form-label-group mb-3">
                <input class="form-control form-control-lg"
                       type="text"
                       placeholder="login" 
                       aria-label="login">
            </div>

            <div class="form-label-group mb-3">
                <input class="form-control form-control-lg"
                       type="password" placeholder="password" 
                       aria-label="password">
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            
            <button class="btn btn-primary" type="submit">Login</button>
            
        </div>
    </div>
</div>

@code {
 
}