@page "/"
@inherits LayoutComponentBase

<Header />
<main class="p-5">
	@Body
	<section class=" container-px-0 ds      s-pt-0 s-pb-0" id="section-6bfe245">

		<h6 class="d-none">Slider</h6>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-12 ">


					<!-- START Main Slider Min REVOLUTION SLIDER 6.2.23 -->
					<rs-fullwidth-wrap id="rev_slider_21_1_forcefullwidth" style="margin-top:0px;margin-bottom:0px;">
						<rs-module-wrap id="rev_slider_21_1_wrapper" data-source="gallery" style="background: transparent; padding: 0px; margin: 0px auto; visibility: visible; position: absolute; overflow: visible; width: 1280px; left: 0px; height: 1000px;">
							<rs-module id="rev_slider_21_1" style="height: 1000px; max-height: 1000px; margin-bottom: 0px; margin-top: 0px; transform: perspective(600px); backface-visibility: hidden; transform-style: flat;" data-version="6.2.23" data-idcheck="true" class="revslider-initialised rev_redraw_on_blurfocus" data-slideactive="rs-93">

								<rs-loader class="spinner0 " style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></rs-loader><rs-arrow style="opacity: 1; transform: translate(-140px, 80px); top: 50%; left: 100%;" class="tp-leftarrow tparrows custom"></rs-arrow><rs-arrow style="opacity: 1; transform: translate(-140px, -120px); top: 50%; left: 100%;" class="tp-rightarrow tparrows custom"></rs-arrow><rs-progress style="visibility:hidden;"><rs-progress-bar style="background: rgba(255, 255, 255, 0.5); transform-origin: 0% 50%; transform: translate3d(0px, 0px, 0px) scale(0.9609, 1);"></rs-progress-bar></rs-progress><rs-slides style="visibility: visible; max-height: none; height: 100%; width: 100%; overflow: hidden;">
									<rs-slide data-key="rs-92" data-title="Slide" data-thumb="//www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider1-min-100x1000.jpeg" data-anim="ei:d;eo:d;s:d;r:0;t:cube-horizontal;sl:d;" data-originalindex="1" data-origindex="0" data-description="" data-sba="" data-scroll-based="false" style="overflow: hidden; height: 100%; width: 100%; z-index: 18; opacity: 0; visibility: hidden;" data-owidth="2000" data-oheight="1333" data-rspausetimeronce="0" data-ntrid="0" data-isactiveslide="false">
										<rs-sbg-px style="background-color: transparent;"><rs-sbg-wrap data-owidth="2000" data-oheight="1333" style="transform-origin: 50% 50%; visibility: hidden; opacity: 0; transform: perspective(1200px) translate3d(-640px, 0px, -840px) rotateY(-90deg); backface-visibility: hidden; transform-style: flat; overflow: hidden;"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="//www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider1-min.jpeg" title="slider1-min" width="2000" height="1333" data-parallax="off" class="rev-slidebg" data-no-retina="">--><rs-sbg src="https://www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider1-min.jpeg" class="" data-bgcolor="transparent" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;https://www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider1-min.jpeg&quot;); background-size: cover; background-position: 50% 50%; width: 100%; height: 100%; opacity: 1; transform: translate(0px, 0px); visibility: inherit; z-index: 20;" data-src-rs-ref="https://www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider1-min.jpeg"></rs-sbg></rs-sbg-wrap></rs-sbg-px>

										<!--
																	-->
										<rs-group-wrap class="rs-parallax-wrap tp-parallax-container rs-forcehidden" style="position: absolute; pointer-events: none; height: 360px; min-width: 1240px; left: -123px; top: 445px; z-index: 14; perspective: 601px; transform: translate(0px, 0px);">
											<rs-loop-wrap style="position: absolute; width: 100%;">
												<rs-mask-wrap style="position: absolute; width: 100%; overflow: visible;">
													<rs-group id="slider-21-slide-92-layer-9" class="rs-pxl-1 rs-layer" data-type="group" data-xy="x:l,l,c,c;xo:-143px,-143px,0,0;y:m;yo:125px,125px,83px,90px;" data-text="l:22;a:inherit;" data-dim="w:100%;h:360px,360px,360px,310px;" data-frame_0="o:1;" data-frame_1="sR:10;" data-frame_999="o:0;st:w;sR:8690;sA:9000;" style="z-index: 14; color: rgb(255, 255, 255); width: 100%; height: 360px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50%; transform: translate(0px, 0px); opacity: 0; visibility: visible;" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
														<!--
														-->
														<rs-layer-wrap class="rs-parallax-wrap rs-forcehidden" style="position: absolute; display: block; pointer-events: none; left: 171px; top: 86px; z-index: 9; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: visible;">
																	<rs-layer id="slider-21-slide-92-layer-26" data-type="image" data-rsp_ch="on" data-xy="xo:171px,171px,160px,87px;yo:86px,86px,133px,125px;" data-text="w:nowrap,nowrap,normal,normal;s:20,20,20,12;l:22,22,22,13;a:inherit;" data-dim="w:4px,4px,3px,1px;h:191px,191px,120px,74px;" data-vbility="t,t,f,f" data-frame_0="y:-100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:500;sp:1500;sR:490;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7000;" style="z-index: 9; color: rgb(255, 255, 255); width: 4px; height: 191px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50%; opacity: 0; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap rs-forcehidden" style="position: absolute; display: block; pointer-events: none; left: 185px; top: 89px; z-index: 10; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: visible;">
																	<rs-layer id="slider-21-slide-92-layer-27" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:185px,185px,-20px,7px;yo:89px,89px,129px,112px;" data-text="s:75,75,50,40;l:80,80,60,50;fw:600,600,400,400;a:inherit;" data-dim="w:558px,558px,auto,auto;" data-frame_0="x:100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:100;sp:1500;sR:90;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7400;" style="z-index: 10; font-family: Montserrat; height: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; width: 558px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 80px; letter-spacing: 0px; font-weight: 600; font-size: 75px; transform-origin: 50% 50%; opacity: 0; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																		WE ARE HERE
																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap rs-forcehidden" style="position: absolute; display: block; pointer-events: none; left: 186px; top: 165px; z-index: 12; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: visible;">
																	<rs-layer id="slider-21-slide-92-layer-35" data-type="text" data-color="#00a4dd||#00a4dd||#15a4dd||#15a4dd" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:186px,186px,-14px,5px;yo:165px,165px,190px,164px;" data-text="s:60,60,50,40;l:70,70,50,40;fw:600;a:inherit;" data-frame_0="x:100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:100;sp:1500;sR:90;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7400;" style="z-index: 12; font-family: Montserrat; height: auto; width: auto; color: rgb(0, 164, 221); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 70px; letter-spacing: 0px; font-weight: 600; font-size: 60px; transform-origin: 50% 50%; opacity: 0; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																		TO HELP YOU!
																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap rs-forcehidden" style="position: absolute; display: block; pointer-events: none; left: 189px; top: 217px; z-index: 13; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: visible;">
																	<rs-layer id="slider-21-slide-92-layer-36" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:189px,189px,47px,-4px;yo:217px,217px,246px,212px;" data-text="s:14,14,12,10;l:70,70,50,40;fw:600;a:inherit;" data-frame_0="x:100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:100;sp:1500;sR:90;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7400;" style="z-index: 13; font-family: Montserrat; height: auto; width: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 70px; letter-spacing: 0px; font-weight: 600; font-size: 14px; transform-origin: 50% 50%; opacity: 0; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																		WE DEVELOP SOFTWARE AND PROVIDE OUTSOURCE PROGRAMMING SUPPORT.
																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--
														-->
													</rs-group>
												</rs-mask-wrap>
											</rs-loop-wrap>
										</rs-group-wrap>
										<!--

										-->
										<rs-layer-wrap class="rs-parallax-wrap rs-forcehidden" style="position: absolute; display: block; pointer-events: none; min-width: 100%; left: 0px; top: 0px; z-index: 8; perspective: 601px;">
											<rs-loop-wrap style="position: absolute; display: block; width: 100%;">
												<rs-mask-wrap style="position: absolute; display: block; width: 100%; overflow: visible;">
													<rs-layer id="slider-21-slide-92-layer-17" class="tp-shape tp-shapewrapper rs-layer" data-type="shape" data-rsp_ch="on" data-text="a:inherit;" data-dim="w:100%,100%,1059px,1059px;h:1002px;" data-basealign="slide" data-frame_1="st:100;sR:100;" data-frame_999="o:0;st:w;sR:8600;" style="z-index: 8; background-color: rgba(18, 27, 38, 0.73); color: rgb(255, 255, 255); width: 100%; height: 1002px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50%; opacity: 0; transform: translate(0px, 0px); visibility: visible;" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
													</rs-layer>
												</rs-mask-wrap>
											</rs-loop-wrap>
										</rs-layer-wrap>
										<!--
										-->
									</rs-slide>
									<rs-slide data-key="rs-93" data-title="Slide" data-thumb="//www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider2-min-100x1000.jpeg" data-anim="ei:d;eo:d;s:d;r:0;t:cube-horizontal;sl:d;" data-originalindex="2" data-origindex="1" data-description="" data-sba="" data-scroll-based="false" style="overflow: hidden; height: 100%; width: 100%; z-index: 10; opacity: 1; visibility: inherit;" data-owidth="2048" data-oheight="1365" data-rspausetimeronce="0" data-ntrid="0" data-isactiveslide="true">
										<rs-sbg-px style="background-color: transparent;"><rs-sbg-wrap data-owidth="2048" data-oheight="1365" style="transform-origin: 50% 50%; visibility: inherit; opacity: 1; transform: perspective(1200px); backface-visibility: hidden; transform-style: flat; overflow: hidden;"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="//www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider2-min.jpeg" title="slider2-min" width="2048" height="1365" data-parallax="off" class="rev-slidebg" data-no-retina="">--><rs-sbg src="https://www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider2-min.jpeg" class="" data-bgcolor="transparent" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;https://www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider2-min.jpeg&quot;); background-size: cover; background-position: 50% 50%; width: 100%; height: 100%; opacity: 1; transform: translate(0px, 0px); visibility: inherit; z-index: 20;" data-src-rs-ref="https://www.silkroadprofessionals.com/wp-content/uploads/2022/03/slider2-min.jpeg"></rs-sbg></rs-sbg-wrap></rs-sbg-px>

										<!--
																	-->
										<rs-group-wrap class="rs-parallax-wrap tp-parallax-container" style="position: absolute; pointer-events: auto; transform: translate(0px, 0px); height: 360px; min-width: 1240px; left: -50px; top: 387px; z-index: 16; perspective: 601px;">
											<rs-loop-wrap style="position: absolute; width: 100%;">
												<rs-mask-wrap style="position: absolute; width: 100%; overflow: visible;">
													<rs-group id="slider-21-slide-93-layer-9" class="rs-pxl-1 rs-layer" data-type="group" data-xy="x:l,l,c,c;xo:-70px,-70px,0,0;y:m;yo:67px,67px,50px,90px;" data-text="l:22;a:inherit;" data-dim="w:100%;h:360px,360px,360px,310px;" data-frame_0="o:1;" data-frame_1="sR:10;" data-frame_999="o:0;st:w;sR:8690;sA:9000;" style="z-index: 16; color: rgb(255, 255, 255); width: 100%; height: 360px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50%; transform: translate(0px, 0px); opacity: 1; visibility: visible;" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
														<!--
														-->
														<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 0px; top: 320px; z-index: 14; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
																	<rs-layer id="slider-21-slide-93-layer-5" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:0,0,-100px,30px;y:t,t,b,t;yo:320px,320px,0,422px;" data-text="l:22;a:inherit,inherit,center,center;" data-vbility="t,t,t,f" data-actions="o:click;a:simplelink;target:_self;url:http://192.168.1.44/o-lifec/contact-us/;" data-frame_0="y:100%;" data-frame_1="e:power4.inOut;st:1000;sp:800;sR:990;" data-frame_999="o:0;st:w;sR:7200;" data-frame_hover="c:#ffc000;bor:0px,0px,0px,0px;bow:0px,0px,0px,0px;oX:50;oY:50;e:none;" style="z-index: 14; font-family: &quot;Open Sans&quot;; height: auto; width: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 22px; letter-spacing: 0px; font-weight: 400; font-size: 20px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer rs-waction" data-idcheck="true" data-stylerecorder="true" data-initialised="true">

																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 170px; top: 320px; z-index: 15; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; overflow: visible;">
																	<rs-layer id="slider-21-slide-93-layer-22" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:170px,170px,100px,-4px;y:t,t,b,t;yo:320px,320px,0,447px;" data-text="l:22;a:inherit,inherit,center,center;" data-vbility="t,t,t,f" data-actions="o:click;a:simplelink;target:_self;url:http://192.168.1.44/o-lifec/about/;" data-frame_0="y:100%;" data-frame_1="e:power4.inOut;st:1300;sp:800;sR:1290;" data-frame_999="o:0;st:w;sR:6900;" data-frame_hover="c:#ffc000;bor:0px,0px,0px,0px;bow:0px,0px,0px,0px;oX:50;oY:50;e:none;" style="z-index: 15; font-family: &quot;Open Sans&quot;; height: auto; width: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 22px; letter-spacing: 0px; font-weight: 400; font-size: 20px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer rs-waction" data-idcheck="true" data-stylerecorder="true" data-initialised="true">

																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 226px; top: 20px; z-index: 10; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: hidden; transform: translate(0px, 0px);">
																	<rs-layer id="slider-21-slide-93-layer-26" data-type="image" data-rsp_ch="on" data-xy="xo:226px,226px,160px,160px;yo:20px,20px,15px,15px;" data-text="w:nowrap,nowrap,normal,normal;l:22;a:inherit;" data-dim="w:['3px','3px','3px','3px'];h:140px,140px,120px,120px;" data-vbility="t,t,f,f" data-frame_0="y:-100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:500;sp:1500;sR:490;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7000;" style="z-index: 10; color: rgb(255, 255, 255); width: 3px; height: 140px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 260px; top: -5px; z-index: 11; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: hidden; transform: translate(0px, 0px);">
																	<rs-layer id="slider-21-slide-93-layer-27" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:260px,260px,0,0;yo:-5px,-5px,75px,75px;" data-text="s:90,90,50,40;l:110,110,60,50;a:inherit;" data-frame_0="x:100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:100;sp:1500;sR:90;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7400;" style="z-index: 11; font-family: Montserrat; height: auto; width: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 110px; letter-spacing: 0px; font-weight: 400; font-size: 90px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																		Build Amazing
																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 260px; top: 79px; z-index: 12; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: hidden; transform: translate(0px, 0px);">
																	<rs-layer id="slider-21-slide-93-layer-28" data-type="text" data-color="#00a4dd||#00a4dd||#34aadc||#34aadc" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:260px,260px,0,0;yo:79px,79px,130px,130px;" data-text="s:90,90,50,40;l:90,90,50,40;fw:600;a:inherit;" data-frame_0="x:100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:100;sp:1500;sR:90;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7400;" style="z-index: 12; font-family: Montserrat; height: auto; width: auto; color: rgb(0, 164, 221); text-decoration: none; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 90px; letter-spacing: 0px; font-weight: 600; font-size: 90px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																		Apps

																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--

														-->
														<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; left: 234px; top: 192px; z-index: 13; perspective: 601px;">
															<rs-loop-wrap style="position:absolute;display:block;">
																<rs-mask-wrap style="position: absolute; display: block; transform-origin: 50% 50%; overflow: hidden; transform: translate(0px, 0px);">
																	<rs-layer id="slider-21-slide-93-layer-29" data-type="text" data-rsp_ch="on" data-xy="x:l,l,c,c;xo:234px,234px,0,0;yo:192px,192px,200px,200px;" data-text="w:normal;s:16;a:inherit,inherit,center,center;" data-dim="w:640px,640px,400px,300px;" data-frame_0="x:-100%;o:1;" data-frame_0_mask="u:t;" data-frame_1="st:500;sp:1500;sR:490;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7000;" style="z-index: 13; font-family: Poppins; height: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: normal; width: 640px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: inherit; line-height: 25px; letter-spacing: 0px; font-weight: 400; font-size: 16px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" class="rs-layer" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
																		Always on the lookout for the hi-tech advancements.  Build not only a product that can sell well, but a platform through which to deliver it.

																	</rs-layer>
																</rs-mask-wrap>
															</rs-loop-wrap>
														</rs-layer-wrap>
														<!--
														-->
													</rs-group>
												</rs-mask-wrap>
											</rs-loop-wrap>
										</rs-group-wrap>
										<!--

										-->
										<rs-layer-wrap class="rs-parallax-wrap" style="position: absolute; display: block; pointer-events: auto; min-height: 100%; min-width: 100%; left: 0px; top: 0px; z-index: 8; perspective: 601px;">
											<rs-loop-wrap style="position: absolute; display: block; height: 100%; width: 100%;">
												<rs-mask-wrap style="position: absolute; display: block; height: 100%; width: 100%; overflow: visible;">
													<rs-layer id="slider-21-slide-93-layer-17" class="tp-shape tp-shapewrapper rs-layer" data-type="shape" data-rsp_ch="on" data-text="a:inherit;" data-dim="w:100%;h:100%;" data-basealign="slide" data-frame_1="st:100;sR:100;" data-frame_999="o:0;st:w;sR:8600;" style="z-index: 8; background-color: rgba(18, 27, 38, 0.73); color: rgb(255, 255, 255); width: 100%; height: 100%; min-height: 0px; min-width: 0px; max-height: none; max-width: none; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;" data-idcheck="true" data-stylerecorder="true" data-initialised="true">
													</rs-layer>
												</rs-mask-wrap>
											</rs-loop-wrap>
										</rs-layer-wrap>
										<!--
										-->
									</rs-slide>
								</rs-slides>
							</rs-module>


						</rs-module-wrap><rs-fw-forcer style="height:1000px"></rs-fw-forcer>
					</rs-fullwidth-wrap>
					<!-- END REVOLUTION SLIDER -->

				</div><!-- .col-* -->
			</div>

		</div>
	</section>
</main>




@code {

}

