@page "/"
@inherits LayoutComponentBase
@inject IJSRuntime JS

<Header></Header>
<main id="main" style="margin-top:120px;">
	@Body
</main>


<footer id="footer" class="footer">
	<div class="container footer-top">
		<div class="row gy-4">
			<div class="col-lg-5 col-md-12 footer-about">
				<a href="index.html" class="logo d-flex align-items-center">
					<span>ABOUT US</span>
				</a>
				<p>
					Silk Road Professionals (SRP) is a full-cycle software development company founded in 2014. We are legally registered in Virginia, USA and in Dehmoy, Tajikistan.
				</p>
				<div class="social-links d-flex mt-4">
					<a href="https://www.facebook.com/SilkRoadProfessionals/">
						<i class="bi bi-facebook"></i>
					</a>
					<a href="https://t.me/niyozovdilshod">
						<i class="bi bi-telegram"></i>
					</a>
					<a href="https://www.instagram.com/silk_road_professionals/">
						<i class="bi bi-instagram"></i>
					</a>
					<a href="https://www.linkedin.com/company/silk-road-professionals-tajikistan/" class="fa fa-linkedin  ">
						<i class="bi bi-linkedin"></i>
					</a>
				</div>
			</div>

			<div class="col-lg-2 col-6 footer-links">
			</div>

			<div class="col-lg-2 col-6 footer-links">
			</div>

			<div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
				<h4>Contact Us</h4>
				<p>Sugd, Jabbor Rasulov district,</p>
				<p>Dehmoy, 80 Somoni Steet</p>
				<p>United States</p>
				<p>
					<strong>Email:</strong> <span>info@silkroadprofessionals.com</span>
				</p>
			</div>
		</div>
	</div>

	<div class="container copyright text-center mt-4">
		<p>
			&copy;  <strong class="px-1">SILK ROAD PROFESSIONALS</strong>

		</p>
	</div>
</footer>
<!-- End Footer -->
<!-- Scroll Top Button -->
<a href="#"
   id="scroll-top"
   class="scroll-top d-flex align-items-center justify-content-center">
	<i class="bi bi-arrow-up-short">
	</i>
</a>


@code
{
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{

			await JS.InvokeVoidAsync("loadScript", "assets/vendor/bootstrap/js/bootstrap.bundle.min.js");
			await JS.InvokeVoidAsync("loadScript", "assets/vendor/glightbox/js/glightbox.min.js");
			await JS.InvokeVoidAsync("loadScript", "assets/vendor/purecounter/purecounter_vanilla.js");
			await JS.InvokeVoidAsync("loadScript", "assets/vendor/isotope-layout/isotope.pkgd.min.js");
			await JS.InvokeVoidAsync("loadScript", "assets/vendor/swiper/swiper-bundle.min.js");
			await JS.InvokeVoidAsync("loadScript", "assets/vendor/aos/aos.js");
			await JS.InvokeVoidAsync("loadScript", "assets/vendor/php-email-form/validate.js");
			await JS.InvokeVoidAsync("loadScript", "assets/js/main.js");
			await JS.InvokeVoidAsync("loadScript", "javascript.js");

		}
	}
}

