@page "/vacancy"
@using Microsoft.AspNetCore.WebUtilities;
@inject NavigationManager NavigationManager
@inject IJobVacancyService JobVacancyService
@inject IInternshipService InternshipService
@inject TrainingService TrainingServise

<h3>Vacancy</h3>

@code {
	private Guid vacancyId;
	protected override async void OnInitialized()
	{
		// Get the vacancy id from the URL
		var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
		{
			vacancyId = Guid.Parse(id);
		}

		Vacancy vacancy = null;

		//vacancy =  await JobVacancyService.GetById(vacancyId);

		//if (vacancy == null)
		//{
		//	vacancy = await  InternshipService.GetById(vacancyId);
		//}

		//if (vacancy == null)
		//{
		//	vacancy = await TrainingServise.GetById(vacancyId);
		//}
	}
}
