@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="HandleNavigateAsync">
	<Found Context="routeData">
		<RouteView RouteData="@routeData"></RouteView>
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		@*<LayoutView Layout="@typeof()">
		<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>*@
	</NotFound>
</Router>

@code {
	private async Task HandleNavigateAsync(NavigationContext args)
	{
		if (args.Path == "/")
		{
			NavigationManager.NavigateTo("/home");
		}
	}
}
