@page "/category"
@page "/category/1"
@page "/category/2"
@inject HttpClient _http
@using MRA.Jobs.Application.Contracts.Common;
@using MRA.Jobs.Application.Contracts.VacancyCategories.Responces;

@if (_category == null)
{
    <div>Loading</div>
}
else
{
    <ul>
        @foreach (var item in _category)
        {
            <li>@item.Name</li>
        }
    </ul>
}





@code {
    private List<VacancyCategoryListDTO>? _category;

    protected override async Task OnInitializedAsync()
    {
        var result = await _http.GetFromJsonAsync<PaggedList<VacancyCategoryListDTO>>("category");
        _category = result.Items;
    }

}
