@page "/"
@using MRA.Jobs.Client.Identity

<div>
<section id="hero" class="hero">
    <!-- <img src="assets/img/front-view-people-having-meeting-office.jpg" alt=""  /> -->
    <img src="assets/img/slider1-min.jpeg" alt=""/>

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2>We are here.</h2>
                <h2 style="color: #129fd7">
                    To help you!
                </h2>
                <p>
                    We Developer Softwate and Provide Outsourse Programming support.
                </p>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<section class="about">
    <div class="container section-title aos-init aos-animate">
        <h2><span style="color: #129fd7">How</span> We Work</h2>
    </div>
    <div class="container">
        <div class="row gy-5">
            <div class="col">
                <div class="member-img d-flex justify-content-center">
                    <img src="assets/work/planning-min-400x400.png"
                         class="img-fluid"
                         alt=""
                         style="height: 140px; width: 140px;"/>
                </div>
                <div class="member-info text-center" style="height: 100px">
                    <h4>Planning</h4>
                </div>
            </div>
            <div class="col">
                <div class="member-img d-flex justify-content-center">
                    <img src="assets/work/design-min-400x400.png"
                         class="img-fluid"
                         alt=""
                         style="height: 160px; width: 160px;"/>
                </div>
                <div class="member-info text-center" style="height: 100px">
                    <h4>Design</h4>
                </div>
            </div>
            <div class="col">
                <div class="member-img d-flex justify-content-center">
                    <img src="assets/work/develop-min-400x400.png"
                         class="img-fluid"
                         alt=""
                         style="height: 180px; width: 180px;"/>
                </div>
                <div class="member-info text-center" style="height: 100px">
                    <h4>Development</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <!--  Section Title -->
    <div class="container section-title aos-init aos-animate">
        <h2><span style="color: #129fd7">What</span> We Do</h2>
    </div>
    <!-- End Section Title -->
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 aos-init aos-animate">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="bi bi-globe-americas"></i>
                    </div>
                    <div>
                        <h4 class="title">
                            <a href="https://www.silkroadprofessionals.com/service/web/" target="_blank" class="stretched-link">Web Development</a>
                        </h4>
                        <p class="description">
                            We develop websites and enterprise web applications.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6 aos-init aos-animate">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="bi bi-phone"></i>
                    </div>
                    <div>
                        <h4 class="title">
                            <a href="https://www.silkroadprofessionals.com/service/mobile/" target="_blank" class="stretched-link">Mobile Development</a>
                        </h4>
                        <p class="description">
                            We build a native and cross platform mobile applications.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6 aos-init aos-animate">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="bi bi-phone"></i>
                    </div>
                    <div>
                        <h4 class="title">
                            <a href="https://www.silkroadprofessionals.com/service/desktop/" target="_blank" class="stretched-link">Desktop Applications</a>
                        </h4>
                        <p class="description">
                            We build applications for an OS of your need.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Item -->
            <div class="col-lg-6 aos-init aos-animate">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="bi bi-cloud-haze2"></i>
                    </div>
                    <div>
                        <h4 class="title">
                            <a href="https://www.silkroadprofessionals.com/service/cloud/"
                               target="_blank" class="stretched-link">
                                Cloud Native Development
                            </a>

                        </h4>
                        <p class="description">
                            We build and run scalable applications with cloud computing.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Item -->
        </div>
    </div>
</section>

<!-- About Section - Home Page -->
<section id="about" class="about">
    <div class="container section-title aos-init aos-animate">
        <h2><span style="color: #129fd7">About</span> Us</h2>
    </div>
    <div class="container">
        <div class="row align-items-xl-center gy-5">
            <div class="col-xl-5 content">
                <h2>
                    <MudLink Href="https://www.silkroadprofessionals.com/">Silk Road Professionals</MudLink>
                </h2>
                <p>
                    Silk Road Professionals (SRP) is a full-cycle software
                    development company founded in 2014. We are legally registered
                    in Virginia, USA and in Dehmoy, Tajikistan.
                </p>
                @*<a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>*@


            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="icon-box">
                    <i class="bi bi-chevron-contract"></i>
                    <h3>OUR MISSION</h3>
                    <p>
                        To engage a team of local talented IT professionals and
                        empower them to deliver outstanding IT services to our
                        partners
                    </p>
                </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-sm-6 col-xl-3">
                <div class="icon-box">
                    <i class="bi bi-chevron-contract"></i>
                    <h3>OUR VISION</h3>
                    <p>
                        To drive our business partners to a new level of success
                        by providing remarkable IT outsourcing and outstaffing
                        services
                    </p>
                </div>
            </div>
            <!-- End Icon Box -->
            <!-- End Icon Box -->
        </div>

    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row align-items-xl-center gy-5">
            <div class="col-xl-12 content">
                <h2>Main principles</h2>
            </div>
        </div>
        <div class="row align-items-xl-center gy-5">
            <div class="row gy-4 icon-boxes">
                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-1-circle"></i>
                        <h3>Agile</h3>
                        <p>
                            Our highest priority is to satisfy the customer through
                            early and continuous delivery of valuable software.
                        </p>
                    </div>
                </div>
                <!-- End Icon Box -->

                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-2-circle"></i>
                        <h3>Code Quality</h3>
                        <p>
                            We do our best to write Descriptive Maintainable Economical
                            Testable code.
                        </p>
                    </div>
                </div>
                <!-- End Icon Box -->

                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-3-circle"></i>
                        <h3>Continual Learning</h3>
                        <p>
                            We are committed to keeping our skills and knowledge up to
                            date so, that we can meet the requirements of our clients.
                        </p>
                    </div>
                </div>
                <!-- End Icon Box -->
            </div>
            <div class="row gy-4 icon-boxes">
                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-4-circle"></i>
                        <h3>Intrinsic Control</h3>
                        <p>
                            We encourage our programmers to be self-motivated towards
                            improving their own skills and producing quality work.
                        </p>
                    </div>
                </div>
                <!-- End Icon Box -->

                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-5-circle"></i>
                        <h3>Glorify God</h3>
                        <p>We want everything we do to bring glory to God.</p>
                    </div>
                </div>
                <!-- End Icon Box -->

                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="bi bi-6-circle"></i>
                        <h3>Productivity</h3>
                        <p>
                            We are committed to providing the tools and environment that
                            our programmers need to reach maximum productivity.
                        </p>
                    </div>
                </div>
                <!-- End Icon Box -->
            </div>
        </div>
    </div>
</section>

<!-- End About Section -->
<!-- Services Section - Home Page -->

<!-- Call-to-action Section - Home Page -->
<section id="call-to-action" class="call-to-action">
    <img src="assets/uploads/2021/09/team-2.jpg" alt=""/>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3><span style="color: #129fd7">Meet</span> Our Team</h3>
                    <a class="cta-btn" href="https://www.silkroadprofessionals.com/team/team/" target="_blank">View Team</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Call-to-action Section -->
<!-- Pricing Section - Home Page -->
<section id="pricing" class="pricing">
    <!--  Section Title -->
    <div class="container section-title">
        <h2><span style="color: #129fd7;">Client</span> And Partner Testimonials</h2>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <div class="pricing-item">

                    <div class="icon">
                        <img src="assets/img/Client&Partner/ParagonLogo.jpg"
                             alt=""
                             class="img-fluid rounded-circle-1"/>
                    </div>

                    <div class="text-center">
                        <p>
                            "We have found the Silk Road team to be very knowledgeable and
                            capable of delivering high quality software
                            that adheres to our specifications and the latest industry standards"
                        </p>
                        <h2>Anthony Martin</h2>
                        <h5>
                            Manager / Product Development
                        </h5>
                    </div>
                </div>
            </div>
            <!-- End Pricing Item -->

            <div class="col-lg-4">
                <div class="pricing-item ">

                    <div class="icon">
                        <img src="assets/img/Client&Partner/Koblelogo-1.jpg"
                             alt=""
                             class="img-fluid rounded-circle-1">
                    </div>

                    <div class="text-center">
                        <p>
                            “Silk Road Professionals has been a valued partner since 2014.
                            We are working on a very large business management software project.
                            It is important to us to have long term programmers that are able to communicate well,
                            be innovative, and produce quality software for our 8,000+ users.
                            They have done an excellent job onboarding and keeping quality programmers.
                            We could not have accomplished this multi-year project without them”
                        </p>
                        <h2>Glenn Esh</h2>
                        <h5>CTO & Product Manager</h5>
                    </div>
                </div>
            </div>
            <!-- End Pricing Item -->

            <div class="col-lg-4">
                <div class="pricing-item">

                    <div class="icon">
                        <img src="assets/img/Client&Partner/PestScanLogo.jpg"
                             alt=""
                             class="img-fluid rounded-circle-1">
                    </div>

                    <div class="text-center">
                        <p>
                            "Since 2020 we have been working with Silk Road Professionals. I am very happy we got to know them and that we decided to work together. Their efforts have boosted our development and consequently enabled us to faster gain a market share in our field of Pest Control Software. What I like about SRP is the short communication lines, their productive feedback on what we try to establish and their positive, cooperative attitude. I just love their core values and I see how they drive their day-to-day work."
                        </p>
                        <h2>Jan Smits</h2>
                        <h5>Founder of PestScan</h5>
                    </div>
                </div>
            </div>
            <!-- End Pricing Item -->
        </div>
    </div>
</section>
<!-- End Pricing Section -->
<!-- Contact Section - Home Page -->
<section id="contact" class="contact">
    <!--  Section Title -->
    <div class="container section-title">
        <h2>Contact</h2>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-item">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Address</h3>
                            <p>Sugd, Jabbor Rasulov district,</p>
                            <p> Dehmoy, 80 Somoni Steet</p>
                        </div>
                    </div>
                    <!-- End Info Item -->
                    <!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item">
                            <i class="bi bi-envelope"></i>
                            <h3>Email Us</h3>
                            <p>info@silkroadprofessionals.com</p>
                        </div>
                    </div>
                    <!-- End Info Item -->

                    <div class="col-md-6">
                        <div class="info-item">
                            <i class="bi bi-clock"></i>
                            <h3>Working Hours</h3>
                            <p>Mon: 12pm to 9pm</p>
                            <p>Tue - Fri: 8am to 5:30pm</p>
                            <p>Sat - Sun: closed</p>
                        </div>
                    </div>
                    <!-- End Info Item -->


                </div>
            </div>

            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d446.4063398236372!2d69.51875677094101!3d40.21502901489877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b1afd1e0b7121b%3A0xb4e73f646b8e290!2sSilk%20Road%20Professionals%20LLC!5e0!3m2!1sru!2s!4v1692352594874!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- End Contact Form -->
        </div>
    </div>
</section>
</div>
<!-- End Contact Section -->

@code {

    [Inject]
    private AuthenticationStateProvider authStateProvider { get; set; }

    [Inject]
    private NavigationManager navigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await authStateProvider.GetAuthenticationStateAsync();
        if (state.User.IsInRole(ApplicationClaimValues.Administrator) || state.User.IsInRole(ApplicationClaimValues.SuperAdmin))
        {
            navigationManager.NavigateTo("/userManager");
        }
        else if (state.User.IsInRole(ApplicationClaimValues.Reviewer))
        {
            navigationManager.NavigateTo("/dashboard/applications");
        }
    }

}