body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

main {
    padding: 50px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}

h1, h2 {
    margin: 0;
}

p {
    line-height: 1.5;
}
