@page "/ApplicantPage"

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h1>Your Profile</h1>
    </header>

    <main>
        <section>
            <h2>Name: </h2>
            <p>Your Name</p>
        </section>

        <section>
            <h2>Surname: </h2>
            <p>Your Surname</p>
        </section>

        <section>
            <h2>Date of Birth: </h2>
            <p>Your Date of Birth</p>
        </section>

        <section>
            <h2>Phone Number: </h2>
            <p>Your Phone Number</p>
        </section>

        <section>
            <h2>Email: </h2>
            <p>Your Email</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2021 Your Name</p>
    </footer>
</body>
</html>


@code {

}
