@page "/ApplicantClient"
@layout MainLayout

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Applicant page</title>
</head>
<body>
    <div class="container">

        <p class="fs-1">Hello!</p>

        <p class="fs-3">
            Ignite your potential with us!
            Explore our job opportunities and prove your skills through our tests to join our dynamic team.
            Together, let's unlock endless possibilities and fuel your career growth.
        </p>

        <p class="text-muted" style="font-size:24px;">
            Regrettably, there are no current applications on record. However, this can be swiftly remedied.
            Take a moment to explore our enticing job openings by clicking the button below.
            We eagerly anticipate the chance to have you join our esteemed team.
        </p>

        <button type="button" class="btn btn-outline-primary">All vacancies</button>

    </div>
</body>
</html>
