@page "/resetPassword"

@using MRA.Jobs.Client.Services.Profile;
@using MudBlazor
@inject IUserProfileService UserProfileService
<h3>ResetPassword</h3>
<MudGrid>

	<MudItem xs="12" sm="12">
		@if (!codeSent)
		{
			<MudCard>
				<MudCardHeader></MudCardHeader>
				<MudCardContent>
					<MudTextField Label="Phone Number" @bind-Value="phoneNumber" Variant="@Variant.Filled" Clearable />
					</MudCardContent>
					<MudCardActions>
						<MudButton Variant="Variant.Text" Color="Color.Info" OnClick="SendCode">Send confirmation code</MudButton>
					</MudCardActions>
				</MudCard>
		}

		@if (codeSent)
		{
			<MudCard>
				<MudCardHeader></MudCardHeader>
				<MudCardContent>
					<MudTextField Label="Code" @bind-Value="Code" Variant="@Variant.Filled" Clearable />
						<p>@timeLeft seconds left to resend the code.</p>
					</MudCardContent>
					<MudCardActions>
						<MudButton Variant="Variant.Text" Color="Color.Info" OnClick="SendCode" Disabled="@isResendDisabled">Resend code</MudButton>
					</MudCardActions>
				</MudCard>
		}
	</MudItem>


</MudGrid>

@code {

	private string phoneNumber = "+992";
	private bool codeSent = false;
	private bool isResendDisabled = true;
	private int timeLeft = 60;

	private async Task SendCode()
	{
		bool response = await UserProfileService.SendConfirmationCode(phoneNumber);
		if (response)
		{
			codeSent = true;
			StartCountdown();
		}
	}

	private async Task StartCountdown()
	{
		for (timeLeft = 60; timeLeft > 0; timeLeft--)
		{
			await Task.Delay(1000);
			StateHasChanged();
		}
		isResendDisabled = false;

	}

	private string Code;
}
