body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-image {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

