<MudCarouselItem Transition="Transition.Slide" Style="padding: 3% 3% 0 3%">
    <MudCard Class="rounded-lg mud-elevation-4">
        <MudCardHeader >
            <CardHeaderContent>
                <div style="text-align: center;">
                    <MudImage Src="assets/img/Client&Partner/ParagonLogo.jpg" Style="border-radius: 50%;" Width="75"/>
                </div>

            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText>
                "We have found the Silk Road team to be very knowledgeable and
                capable of delivering high quality software
                that adheres to our specifications and the latest industry standards"
            </MudText>
            <br/>
            <div style="text-align: center;">
                <MudText Typo="Typo.h5"> Anthony Martin</MudText>
                <MudText Typo="Typo.h6" Style="text-align: center">
                    Manager / Product Development
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
</MudCarouselItem>
<MudCarouselItem Transition="Transition.Slide" Style="padding: 3% 3% 0 3%">
    <MudCard Class="rounded-lg mud-elevation-4">
        <MudCardHeader >
            <CardHeaderContent>
                <div style="text-align: center;">
                    <MudImage Src="assets/img/Client&Partner/Koblelogo-1.jpg" Style="border-radius: 50%;" Width="75"/>
                </div>

            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText>
                "Silk Road Professionals has been a valued partner since 2014.
                We are working on a very large business management software project.
                It is important to us to have long term programmers that are able to communicate well,
                be innovative, and produce quality software for our 8,000+ users.
                They have done an excellent job onboarding and keeping quality programmers.
                We could not have accomplished this multi-year project without them"
            </MudText>
            <br/>
            <div style="text-align: center;">
                <MudText Typo="Typo.h5">Glenn Esh</MudText>
                <MudText Typo="Typo.h6" Style="text-align: center">
                    CTO & Product Manager
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
</MudCarouselItem>
<MudCarouselItem Transition="Transition.Slide" Style="padding: 3% 3% 0 3%">
    <MudCard Class="rounded-lg mud-elevation-4">
        <MudCardHeader >
            <CardHeaderContent>
                <div style="text-align: center;">
                    <MudImage Src="assets/img/Client&Partner/PestScanLogo.jpg" Style="border-radius: 50%;" Width="75"/>
                </div>

            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText>
                "Since 2020 we have been working with Silk Road Professionals. I am very happy we got to
                know them and that we decided to work together. Their efforts have boosted our development
                and consequently enabled us to faster gain a market share in our field of Pest Control Software.
                What I like about SRP is the short communication lines, their productive feedback on what we try
                to establish and their positive, cooperative attitude. I just love their core values and
                I see how they drive their day-to-day work."
            </MudText>
            <br/>
            <div style="text-align: center;">
                <MudText Typo="Typo.h5">Jan Smits</MudText>
                <MudText Typo="Typo.h6" Style="text-align: center">
                    Founder of PestScan
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
</MudCarouselItem>