@page "/Applications"
<h3>Applications</h3>

<MudGrid>
    <MudItem xs="12" lg="12"></MudItem>
    <MudItem xs="12" lg="12"></MudItem>
    <MudItem xs="12" lg="12"></MudItem>
</MudGrid>

@code {
    
}